@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  @apply bg-blue-100 text-blue-600;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

/* Change scrollbar thumb color and shape */
::-webkit-scrollbar-thumb {
  background-color: #60a5fa98;
  border-radius: 5px;
}

/* Change scrollbar hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa;
}  